/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
body {
    font-family: 'Rubik', sans-serif;
}
.message {
    position: relative;
    flex-direction: column;
    /* margin: 15px; */
    display: flex;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageTop {
    background: linear-gradient(90deg, rgba(226,169,235,0.5018382352941176) 0%, rgba(218,90,237,0.4150035014005602) 100%);
}

.messageTop {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    background: linear-gradient(90deg, rgba(100, 230, 182, 0.479) 0%, rgba(29, 253, 175, 0.575) 50%, rgba(1, 244, 159, 0.562) 100%);
    height: fit-content;
    width: fit-content;
    font-size: 20px;
}

.message.own .messageTop {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
}
p.messageText {
    padding: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

.messageSide {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    margin: 0;
}

.messageSender {
    color: #000000a1;
    margin-right: 20px;
    margin-left: 20px;
}

div.main {
    margin: 20px;
}

div.chatRoomInput {
    margin: 20px;
    display: flex;
    align-items: center;
}
.chatRoomInput input {
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

button.addRoom {
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(249,154,81,1) 0%, rgba(253,126,29,1) 50%, rgba(246,107,0,1) 100%);
    border-style: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;

}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    align-items: center;
    width: 300px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.rooms {
    border-bottom: #0000003b solid thin;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

h1.roomTitle {
    text-align: center;
}

div.roomBoxBottom {
    position: fixed; 
    bottom:0%;
    width:100%;
    left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

textarea.chatMessageInput {
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
}

button.chatSubmitButton {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(249,154,81,1) 0%, rgba(253,126,29,1) 50%, rgba(246,107,0,1) 100%);
    border-style: none;
    margin-left: 10px;
    cursor: pointer;
}

button.toggler {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rooms p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}

h1.roomTitle {
    margin-top: 30px;
}

div.chatBoxTop {
    margin-bottom: 50px;

}